[Desktop Entry]
Name=FreeMat
Comment=Environment for rapid engineering and scientific processing
Comment[pl]=Środowisko do szybkiego przetwarzania inżynierskiego i naukowego
Exec=FreeMat
Terminal=true
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
